{% extends 'layout.html' %}
{% block body %} 
    <!-- User Modal -->
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <table id="tweet-content" class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Quote</th>
                                <th>FAVE'S!!</th>
                                <th>Upvotes</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> <!-- End Modal -->
    <div class="user-nav">
        <h4>What's Your Favorite E.A.P. Quote?</h4>
        <form id="submit-post" action="post_submit" data-toggle="validator" role="form" class="form-horizontal" method="POST">
            <div class="form-group">
                    <textarea name="post_content" id="post-content" cols="73" rows="8" data-minlength="20" data-error="Your Quote is Simply...Terribly Short!" required></textarea>
                    <input id="hidID" name="hidID" type="hidden">
                    <div class="help-block with-errors"></div>
                    <button type="submit" class="btn btn-danger col-sm-12">Submit</button>
            </div>
        </form>
    </div>

    <table id="tweet-content" class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Quote</th>
                <th>User</th>
                <th>Points</th>
                <th>Upvote</th>
                <th>Downvote</th>
                <th>FAVE'S!!</th>
            </tr>
        </thead>
        {% for row in tweet_content %}
            <tr>
                <td>{{row[1]}}</td>
                <td><a class="user" id="user{{row[0]}}" href="/user" data-toggle="modal" data-target="#userModal" data-user="{{row[2]}}">{{row[2]}}</a></td>
                <td class="vote{{row[0]}}">{{row[3]}}</td>
                <td style="text-align: center"><a class="vote" vote="UP" id="{{row[0]}}" href=""><i id="thumbUp{{row[0]}}" class="fa fa-thumbs-o-up fa-2x {% if not session['username'] %}{% elif row[4]== 'UP' %} green {% else %}{% endif %}" aria-hidden="true"></i></a></td>
                <td style="text-align: center"><a class="vote" vote="DOWN" id="{{row[0]}}" href=""><i id="thumbDown{{row[0]}}" class="fa fa-thumbs-o-down fa-2x {% if not session['username'] %}{% elif row[4]== 'DOWN' %} red {% else %}{% endif %}" aria-hidden="true"></i></a></td>
                <td style="text-align: center"><a class="vote" vote="FAVE" id="{{row[0]}}" href=""><i id="fave{{row[0]}}" class="fa fa-heartbeat fa-2x {% if not session['username'] %}{% elif row[5]== 'FAVE' %} faa-pulse animated {% else %}{% endif %}" aria-hidden="true"></i></a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
